header {
 padding: 30px;
 background: red;
}
h1, h2 {
    width: 50%;
    margin: 0px;
}
h2 {
    font-size: 22px;
}
#contact {
    float: right;
    padding: 10px;
    margin: 10px;
    display: block;
    vertical-align: top;

}

