.break{
  display: block;
}

.container {
  height: 800px;
}

#contact {
  float: right;
  padding: 8px;
  margin: 8px;
  display: block;
  vertical-align: top;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 19px;
  color: #333;
}

#col {
  border-right: 2px solid;
  border-color: #DCDCDC;
  margin-left: 0px;
}

#col-story{
  float: right;
  display: block;
}

#col-story ul {
  padding-top: 110px;
}

p > em {
  color: black;
}

p {
  color: black;
}

.head {
  padding: 30px;
  background: white;
}

.head {
  padding-bottom: 0px;
}

hr {
  display: block;
  border-style: solid;
  border-width: 1px;
}

h1, h2 {
  width: 50%;
  margin: 0px;
  color: #333;
}

h1 {
  font-family: 'Arvo', serif;
  font-size: 45px;
}

h2 {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 5px;
}

h3 { 
  font-family: 'Slabo 27px', serif; 
  padding-bottom: 20px;
}

h4 {
  font-size: 35px;
  font-family: 'Slabo 27px', serif;
}

img {
  border-radius: 5px;
  display: block;
  margin: auto;
}

/*Navbar styling */

#navbar {
  background-color: white;
 /* border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0px;*/
}

ul {
  width: 100%;
}

li {
  font-family: 'Slabo 27px', serif;
/*  font-family: 'Roboto Condensed', sans-serif;*/
  font-size: 22px;
  width: 25%;
  float: left;
  text-align: center;
  border-left: 1px solid;
  border-color: #DCDCDC;

}

#col-story ul {
  margin-top: 10px;
}

#col-story li {
  list-style-type: none;
  border: none;
  font-size: 30px;
  float: none;
  width: 35%;
}

#col-story .even {
  float: right;
  display: inline;
}
#col-story .odd {
  float: left;
  display: inline;
}

a { 
  color: #333; 
}

a:hover { color: #02ACF1; }


/* End navbar styling */

.rby {
  float: left;
  margin-right: 15px;
  position: relative;
  bottom: 35px;
}

.row h3 {
  font-size: 45px;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

#story p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  width: 100%;
}

#story {
  display: block;
}

#doctors {
  border-bottom: 1px solid;
  border-color: #C0C0C0;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#doctors p {
  padding-left: 40px;
  padding-right: 40px;
}

#doctors #p3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  width: 70%;
  float: left;
  display: inline;
}

#doctors #p5 {
  float: right;
  width: 95%;
}

#doctors img {
  display: inline;
  float: left;
}

#doctors #img2 {
  float: right;
  position: relative;
  bottom: 100px;
}

#doctors{ 
  padding-bottom: 00px;
 }

#p3 {
  padding-top: 60px;
}

span {
  color: #02ACF1;
}
